

body {
    /*background-image: url('calcBk.png');*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: 100% 100%;*/
    background-color: #5a7ebb;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border: 8px solid #565454;
    border-radius: 10px;
    background-color: #1a1414;
    margin: auto;
    /*width: fit-content;*/
    /*max-width: 135px;*/
    max-width: 237px;


}

.grid-item {
    /*background-color: rgb(197, 197, 210);*/
    background-color: #c9c8c8;
    border: 1px solid #0f2567;
    border-radius: 3px;
    /*font-size: 15px;*/
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin: 2px;
    /*width: 23px;*/
    /*height: 27px;*/

    width: 43px;
    height: 50px;

}

.ledBox {
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: #defbfa;
    font-family: Arial, serif;
    font-weight: bold;
    text-align: right;
    font-size: 17px;
    border-radius: 3px;
    margin: 3px 3px 8px;
    padding-right: 2px;
    white-space: nowrap;
    /*white-space: pre-line;*/
    /*max-width: 127px;*/
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
}

button:hover {
    background-color: #eed240;
    cursor: pointer;
    border-color: crimson;
}

.fontSmllHght {
    font-size: 14px;
    height: 20px;
}

.fontSmall {
    font-size: 17px;
}

.operatorColor {
    background-color: #8fd78b;
}
.padLeftPrcnt {
    padding-left: 3px;
}

.padLeftPlusMinus {
    padding-left: 5px;
}
.redColor {
    background-color: #de7a7a;
}
